* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #ff3b89
}

.hidden {
  display: none;
}

.container {
  width: 960px;
  background: white;
  display: block;
  margin: 0 auto;
  color: black;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  h1 {
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px black;
    font-size: 48px;
    line-height: 64px;
    padding-bottom: 40px;
  }
}

.eye-candy--image {
  border-radius: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 60%;
}


input {
  border: 2px solid black;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #ff3b89;
  color: white;
  height: 64px;
  width: 150px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.result {
  p {
    line-height: 50px;
    font-size: 25px;
  }
}